<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="keywords" content="接口文档管理">
    <meta name="description" content="小能人CMS接口文档，是一个PHP轻量级API接口文档管理系统，致力于减少前后端沟通成本，提高团队协作开发效率。">
    <title>项目主页——小能人CMS接口文档管理系统</title>
    <link rel="icon" href="../image/favicon.ico">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/metisMenu.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../css/css.css" rel="stylesheet" type="text/css">
	
    <!--[if lt IE 9]>
    <script src="/static/html5shiv.js"></script>
    <script src="/static/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/metisMenu.js"></script>
    <script src="../js/v5.js"></script>
    <script src="../js/datatype.js"></script>
    <script src="../js/dialog.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0);">项目名称:{$project.title}</a>
    </div>
    
    <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu"">
            <li>
                <a href="index.html" class="active">项目主页</a>
            </li>
            {foreach $moduleList as $module}
            <li class="module-item js_moduleItem">
                <a href="javascript:void(0);">{$module.title}</a>
                <ul class="nav nav-second-level collapse" id="api-menu-{$module.id}">
                    {if !empty($module.api_list)}
                        {volist name="module.api_list" id="apis"}
                        <li class="api-item js_apiItem" data-id="9">
                        <a href="./api_detail_{$project.id}_{$module.id}_{$apis.id}.html">{$apis.title}</a>
                    </li>
                        {/volist}
                    {/if}
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {/foreach}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<script src="../js/sortable.js"></script>

<script>
    $(function(){

        //添加/编辑模块表单合法性验证
        $("#js_addModuleForm").validateForm();

        // 添加/编辑模块
        $(".js_addModuleBtn").iframeModal({
            clickItem: '.js_addModuleBtn', //modal元素
            modalItem: '#js_addModuleModal', //modal元素
            iframeItem: '#js_addModuleIframe', //提交按钮
            submitBtn: '.js_submit'
        });

        //删除模块表单合法性验证
        $("#js_deleteModuleModal form").validateForm();

        // 删除模块
        $(".js_deleteModuleBtn").click(function () {
            // 阻止事件冒泡
            event.stopPropagation();
            var id = $(this).data('id');

            if(id <= 0){
                alert('请选择要删除的模块');
            }

            $('#js_deleteModuleModal input[name=id]').val(id);

            $('#js_deleteModuleModal').modal('show');
        });

        // 添加/编辑接口
        $(".js_addApiBtn").iframeModal({
            clickItem: '.js_addApiBtn', //modal元素
            modalItem: '#js_addApiModal', //modal元素
            iframeItem: '#js_addApiIframe', //提交按钮
            submitBtn: '.js_submit'
        });

        $(".js_moduleItem").mouseover(function(event){
            event.stopPropagation();
            $(this).find('span').removeClass('hidden');
            $('.js_apiItem').find('span').addClass('hidden');

        }).mouseout(function(event){
            event.stopPropagation();
            $(this).find('span').addClass('hidden');

        });

        $(".js_apiItem").mouseover(function(event){
            event.stopPropagation();
            $(this).find('span').removeClass('hidden');
            $(this).find('.fa-eye').removeClass('hidden');

        }).mouseout(function(event){
            event.stopPropagation();
            $(this).find('span').addClass('hidden');
            $(this).find('.fa-eye').addClass('hidden');

        });

    });
</script>

    
    <!-- /.navbar-static-side -->
</nav>
    <div id="page-wrapper" style="min-height: 911px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>项目主页 </h1>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default">

                    <div class="panel-body">
                        <p class="text-muted"><label><label style="width: 24px;"></label>项目名称：</label>{$project.title}</p>
                        <p class="text-muted"><label><label style="width: 42px;"></label>APIID：</label>{$project.api_id}&nbsp;<button type="button" data-clipboard-text="{$project.api_id}" class="btn btn-xs btn-success js_copyApiInfo">复制</button></p>
                        <p class="text-muted"><label><label style="width: 26px;"></label>APIKEY：</label>{$project.api_key} &nbsp;<button type="button" data-clipboard-text="{$project.api_key}" class="btn btn-xs btn-success js_copyApiInfo">复制</button></p>
                        <p class="text-muted"><label><label style="width: 7px;"></label>项目创建人：</label>{$project.user_id}</p>
                        <p class="text-muted"><label><label style="width: 20px;"></label>创建时间：</label>{$project.create_time}</p>
                        <p class="text-muted"><label><label style="width: 20px;"></label>更新时间：</label>{$project.update_time}</p>

                        <p class="text-muted"><label><label style="width: 20px;"></label>项目描述：</label>
                            <span style="word-break:break-all">{$project.description}</span>
                        </p>
                        <p class="text-muted"><label><label style="width: 20px;"></label>接口域名：</label>
                        </p><div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>环境标识符</th>
                                    <th>标识符备注</th>
                                    <th>环境域名</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {foreach $project['envs'] as $module}
                                    <tr>
                                        <td>{$module.name}</td>
                                        <td>{$module.title}</td>
                                        <td><code>{$module.domain}</code></td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>

                        </div>
                        <p></p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->
</div>
<hr>
<script type="text/javascript" src="../js/clipboard.js"></script>
<script>
    $(function(){
        // 复制链接
        var clipboard = new Clipboard('.js_copyApiInfo');
        clipboard.on('success', function(e) {
            alert('复制成功', 1000);
            e.clearSelection();
        });
    });
</script>
</body></html>