{extend name="public/common"}
{block name="headcss_before"}
<link type="text/css" rel="stylesheet" href="/3.0/css/bootstrap.min.css"/>
{/block}
{block name="headcss_after"}
<style type="text/css">
.form-control{
  width: 95%;
  padding:0px;
}
.form-horizontal .form-group {
    margin:0px;
}
</style>
{/block}
{block name="headjs_after"}
<script type="text/javascript" src="/3.0/package/json/jsl.js"></script>
<script type="text/javascript" src="/3.0/package/json/jsoninit.js"></script>
{/block}
{block name="main"}
<div class="page">

  {include file="public/list/notice" /}

  <form action="{:url('','menuid='.$menuid)}" method="post" class="form-horizontal" id="submit_form_data" style="margin-top: 10px;">
    <div class="col-lg-6" style="width: 48.1%;padding-left: 0px;">
            <div class="panel panel-default" style="height: 1000px;">
                <div class="panel-heading">
                    参数详情
                    <div class="opt-btn" style="float: right;padding: 0;margin: 0;margin-top: -4.5px;">
                        <a class="btn btn-sm btn-success js_submit" href="javascript:void(0);" onClick="$('#submit_form_data').submit();">提交</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                           <div class="form-group">
                                <label>接口地址(此处区分开发环境)：</label>
                                <select class="form-control" name="api[domain]">
                                    {foreach $envs as $k=>$env}
                                    {php}$env_url = trim($env["domain"],'/') . '/' . trim($info["apiurl"],'/');{/php}
                                    <option value="{$k}" {if $k == 1}selected="selected"{/if}>{$env_url}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <input type="hidden" name="id" value="{$info.id}">
                            <input name="project_id" type="hidden" value="{$project.id}">

                            {foreach $request_fields as $request_field}
                            <div class="form-group">
                                    <label>{$request_field.title}({$request_field.tag})</label>
                                    {if $request_field['tag'] == 'fileName'}
                                    <input type="file" name="api[{$request_field.tag}]">
                                    {else /}
                                    {if $request_field['is_required'] == 2}
                                    <input class="form-control" name="api[{$request_field.tag}]" value="{$request_field.default_value}" placeholder="请输入{$request_field.title}">
                                    {else /}
                                    <input class="form-control" name="api[{$request_field.tag}]" value="{$request_field.default_value}" placeholder="必填，请输入{$request_field.title}" datatype="*" nullmsg="请输入{$request_field.title}！" errormsg="{$request_field.title}不能为空">
                                    {/if}
                                    {/if}
                              </div>
                              {/foreach}
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                        <!-- /.col-lg-6 (nested) -->
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-6" style="width: 48.1%;margin: 0px;">
            <div class="panel panel-default" style="height: 1000px;padding: 0px;">
                <div class="panel-heading">
                    调试结果
                </div>
                <div class="panel-body" style="height: 100%;">
                    <div class="row" style="height: 100%;margin:0px;">
                        <textarea readonly="readonly" style="margin:0px; width: 99%;outline: medium none; resize: both; min-width: 99%; max-width: 99%;height:93.7%;border:none;resize: none;" id="json_input" spellcheck="false"></textarea>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
  </form>
</div>
<script type="text/javascript">
$(function(){

  //数据校验
  CommonJs.FormCheck  = function(FormObj){

      //表单数据
      CommonJs.SubmitData = FormObj.serializeArray();

      //验证是否有数据就提交
      if (!CommonJs.isEmptyData(CommonJs.SubmitData)){

        layer.msg('数据不存在',{icon: 0,time:2000});return false;
      }

      var isOk = true;

      $.each( CommonJs.SubmitData, function(i, field){
          var name    = field.name;
          var value   = field.value;

            if(name.indexOf("[") != -1){
              name=name.replace("[","");
              name=name.replace("]","");
            }

          //数据校验从这里开始

          if ($("#id_"+name+" dt[class='tit']").find("em").length > 0) {

            if(!CheckJs.required(value)){

              layer.msg($("#id_"+name).attr("data-msg"),{icon: 2,time:2000});isOk=false;return false;
            }
          }

          //数据校验从这里结束
      });

      return isOk;
  };

  //数据提交
  CommonJs.JsSave("#submit_form_data",function(data){

    var ic  = data.code == 1 ? 6 : 2;
        layer.msg(data.msg,{icon: ic,time:2000},function(){

            if(data.code == 1){

                $('#json_input').val(data.data);
                jsl.interactions.init();
            }

            CommonJs.Loading    = false;
        });
  });
});
</script>
{/block}