{notempty name="_fieldInfo"}
<script type="text/javascript" src="/3.0/js/admin.js"></script>
<script type="text/javascript" src="/3.0/js/common.js"></script>
<form action="{:url('edit')}" method="post" class="form-horizontal" id="submit_form_data">
  <div class="ncap-form-default" style="padding: 0px;">
    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>字段名称</label>
      </dt>
      <dd class="opt">
        <input type="text" placeholder="请输入菜单名称" class="input-txt" name="title" value="{notempty name="_fieldInfo.title"}{$_fieldInfo.title}{/notempty}">
        <span class="err" id="err_title" style="color:#F00; display:none;"></span>
        <p class="notic">展示列表表头的名称</p>
      </dd>
    </dl>

    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>字段标识</label>
      </dt>
      <dd class="opt">
        <input type="text" placeholder="请输入字段标识" class="input-txt" name="tag" value="{notempty name="_fieldInfo.tag"}{$_fieldInfo.tag}{/notempty}">
        <span class="err" id="err_tag" style="color:#F00; display:none;"></span>
        <p class="notic">获取数据的数据下标</p>
      </dd>
    </dl>

    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>字段类型</label>
      </dt>
      <dd class="opt">
        <select name="type" id="type_id" class="form-control">
          <option value="">选择类型</option>
          <option value="string" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'string'"}selected{/if} >字符串</option>
          <option value="number" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'number'"}selected{/if} >数字</option>
          <option value="price" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'price'"}selected{/if} >价格</option>
          <option value="select" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'select'"}selected{/if} >枚举</option>
          <option value="bool" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'bool'"}selected{/if} >布尔</option>
          <option value="datetime" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'datetime'"}selected{/if} >时间区间</option>
          <option value="image" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'image'"}selected{/if} >图片</option>
          <option value="done" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'done'"}selected{/if} >操作</option>
          <option value="id" {if condition="isset($_fieldInfo['type']) && $_fieldInfo.type eq 'id'"}selected{/if} >ID</option>
        </select>
        <span class="err" id="err_type" style="color:#F00; display:none;"></span>
        <p class="notic">数字(number)、字符串(string)、价格(price)、时间(Y-m-d H:i:s)(datetime)、布尔(bool)、枚举(select)</p>
      </dd>
    </dl>

    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>表头宽度</label>
      </dt>
      <dd class="opt">
        <input type="text" placeholder="请输入字段宽度" class="input-txt" name="width" value="{notempty name="_fieldInfo.width"}{$_fieldInfo.width}{/notempty}"  onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')">
        <span class="err" id="err_tag" style="color:#F00; display:none;"></span>
        <p class="notic">字段宽度，在表格中显示宽度的百分比</p>
      </dd>
    </dl>

    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>数据操作</label>
      </dt>
      <dd class="opt">
        <label>
          <input type="checkbox" class="checkbox_item" name="edit" value="1" {if condition="isset($_fieldInfo['edit']) && $_fieldInfo['edit'] eq 1"}checked{/if} > 可编辑
        </label>
        <label>
          <input type="checkbox" class="checkbox_item" name="search" value="2" {if condition="isset($_fieldInfo['search']) && $_fieldInfo['search'] eq 2"}checked{/if}> 可搜索
        </label>
        <span class="err" id="err_form_type" style="color:#F00; display:none;"></span>
        <p class="notic">该字段字段功能</p>
      </dd>
    </dl>
    <dl class="row">
      <dt class="tit">
        <label for="t_mane">字段属性</label>
      </dt>
      <dd class="opt">
        <textarea name="attr" id="" cols="65" style="height: 100px;">{notempty name="_fieldInfo.attr"}{$_fieldInfo.attr}{/notempty}</textarea>
        <span class="err" id="err_attr" style="color:#F00; display:none;"></span>
        <p class="notic">字段属性设置每行一个</p>
      </dd>
    </dl>

    <dl class="row">
      <dt class="tit">
        <label for="t_mane">附加数据</label>
      </dt>
      <dd class="opt">
        <textarea name="default" id="" cols="65" style="height: 100px;">{notempty name="_fieldInfo.default"}{$_fieldInfo.default}{/notempty}</textarea>
        <span class="err" id="err_attr" style="color:#F00; display:none;"></span>
        <p class="notic">
            填写示例:<br>
            文本标签 string:0|zs<br><br>
            单选、多选、枚举、布尔 示例<br>
            字符串：string:1=张三,2=李四,....<br>
            成员变量：parame:parameName<br>
        </p>
      </dd>
    </dl>
    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>字段排序</label>
      </dt>
      <dd class="opt">
        <input type="text" placeholder="请输入字段排序" class="input-txt" name="sort" value="{notempty name="_fieldInfo.sort"}{$_fieldInfo.sort}{/notempty}"  onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')">
        <span class="err" id="err_tag" style="color:#F00; display:none;"></span>
        <p class="notic">字段排序，在表格中的排序，数字越大越靠前</p>
      </dd>
    </dl>

    <dl class="row">
      <dt class="tit">
        <label for="t_mane"><em>*</em>状态</label>
      </dt>
      <dd class="opt">
        <div class="onoff">
            <label for="menu_status1" class="cb-enable {if condition="isset($_fieldInfo['status']) && $_fieldInfo['status'] eq 1"}selected{/if}">启用</label>
            <label for="menu_status2" class="cb-disable {if condition="isset($_fieldInfo['status']) && $_fieldInfo['status'] eq 2"}selected{/if}">禁用</label>
            <input id="menu_status1" name="status" value="1" type="radio" {if condition="isset($_fieldInfo['status']) && $_fieldInfo['status'] eq 1"} checked="checked"{/if}>
            <input id="menu_status2" name="status" value="2" type="radio" {if condition="isset($_fieldInfo['status']) && $_fieldInfo['status'] eq 2"} checked="checked"{/if}>
        </div>
        <p class="notic">选择`是`表单将对外不可用</p>
      </dd>        
    </dl>    
                      
    <div class="bot"><a id="submitBtn" class="ncap-btn-big ncap-btn-green" href="JavaScript:void(0);" onClick="$('#submit_form_data').submit();">确认提交</a></div>
  </div>
  <input type="hidden" name="id" value="{notempty name='_fieldInfo.id'}{$_fieldInfo.id}{else/}0{/notempty}">
  <input type="hidden" name="pid" value="{notempty name='_fieldInfo.pid'}{$_fieldInfo.pid}{else/}0{/notempty}">
</form>
<script type="text/javascript">
//数据校验
CommonJs.FormCheck  = function(FormObj){

    //表单数据
    CommonJs.SubmitData = FormObj.serializeArray();

    //验证是否有数据就提交
    if (!CommonJs.isEmptyData(CommonJs.SubmitData)){
        layer.msg('数据不存在',{icon: 0,time:2000});return false;
    }

    var isOk = true;

    $.each( CommonJs.SubmitData, function(i, field){
        var name    = field.name;
        var value   = field.value;

        if(name.indexOf("[") != -1){
              name=name.replace("[","");
              name=name.replace("]","");
        }

        //数据校验从这里开始
        if(name == 'title' && !CheckJs.required(value)){
          layer.msg('请输入表单/字段名称',{icon: 2,time:2000});isOk=false;return false;
        }

        if(name == 'tag' && !CheckJs.required(value)){
          layer.msg('请输入字段标识',{icon: 2,time:2000});isOk=false;return false;
        }

        if(name == 'width' && !CheckJs.required(value)){
          layer.msg('请输入字段宽度',{icon: 2,time:2000});isOk=false;return false;
        }

        if(name == 'type' && !CheckJs.required(value)){
          layer.msg('请选择字段类型',{icon: 2,time:2000});isOk=false;return false;
        }

        //数据校验从这里结束
    });

    return isOk;
};

//数据提交
CommonJs.JsSave("#submit_form_data",function(data){
    var ic  = data.code == 1 ? 6 : 2;
    if (data.code == 1) {

        setLists(data.data,'formFieldList');
        changeColoeLine();
    }

    layer.msg(data.msg,{icon: ic,time:2000},function(){ CommonJs.Loading = false; });
});
</script>
{/notempty}