{extend name="public/common"}
{block name="main"}
{php}
$tableHeadData 	= json_encode([layui_hand_table_head($listNode)]);
$LayuiTableId 	= layui_hand_table_id($listNode);
{/php}
<div class="layui-fluid">   
    <div class="layui-card">
  		{include file="public/list/search" /}
	    <div class="layui-card-body">
	    	{include file="public/list/topButton" /}
	        <table id="{$LayuiTableId}" lay-filter="{$LayuiTableId}"></table>
	    	{include file="public/list/rightButton" /}
	        <!-- <script type="text/html" id="table-done">
	          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>{{# d.role }}编辑</a>
	        </script> -->
	    </div>
    </div>
</div>
{/block}
{block name="footjs"}
<script src="/static/{$tplName}/layui/layui.js"></script>
<script>
	CommonJsParame.TabelHeadData 	= '{$tableHeadData|raw}';
	CommonJsParame.TabelUrl 		= '/manage/User/alluser/menuid/35';
	CommonJsParame.TabelId 			= '{$LayuiTableId}';

	layui.config({
		base: '/static/{$tplName}/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index', 'lists']);
</script>
{/block}