{extend name="public/common"}
{block name="main"}
<div class="page" style="padding-top:5px;">
  <div class="flexigrid">
    <div class="hDiv">
      <div class="hDivBox">
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
              <tr>
                <th width="15%"><div>字段名称</div></th>
                <th width="11%"><div>字段标识</div></th>
                <th width="11%"><div>分组标识</div></th>
                <th width="11%"><div>字段类型</div></th>
                <th width="11%"><div>使用场景</div></th>
                <th width="11%"><div>字段排序</div></th>
                <th width="11%"><div>是否必填</div></th>
                <th width="11%"><div>状态</div></th>
                <th width="8%"><div>操作</div></th>
              </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
        <table width="100%">
          <tbody>
            {foreach name="fieldList" item="vo" key="k"}
              <tr id="devlist_id_{$vo.id}" data-id ="{$vo.id}" data-pid ="{$vo.pid}">
                <td width="15%">
                  <div style="text-align: center;">
                    <input type="text" size="30" class="qsbox" name="title_{$vo.id}" placeholder="请输入字段名称" value="{$vo.title}" style="width: 90%">
                  </div>
                </td>

                <td width="11%">
                  <div style="text-align: center;">
                    <input type="text" size="30" class="qsbox" name="tag_{$vo.id}" placeholder="请输入字段标识" value="{$vo.tag}" style="width: 90%">
                  </div>
                </td>

                <td width="11%">
                  <div style="text-align: center;">
                    <input type="text" size="30" class="qsbox" name="group_{$vo.id}" placeholder="请输入分组标识" value="{$vo['config']['group']}" style="width: 90%">
                  </div>
                </td>

                <td width="11%">
                  <div style="text-align: center;">
                    <select name="type_{$vo.id}" id="type_id" class="form-control">
                      <option value="">选择类型</option>
                      {volist name=":config('extend.form_type_list')" id="v"}
                      <option value="{$key}" {if condition="$vo['config']['type'] eq $key"}selected{/if} >{$v}</option>
                      {/volist}
                  </select>
                  </div>
                </td>

                <td width="11%">
                  <div style="text-align: center;">
                    <label>
                      <input type="checkbox" class="checkbox_item" name="add_{$vo.id}" value="1" {if condition="$vo['config']['add'] eq 1"}checked{/if} >新增
                    </label>
                    <label>
                      <input type="checkbox" class="checkbox_item" name="edit_{$vo.id}" value="2" {if condition="$vo['config']['edit'] eq 2"}checked{/if}>编辑
                    </label>
                  </div>
                </td>

                <td width="11%">
                  <div style="text-align: center;">
                    <input type="text" size="30" class="qsbox" name="sort_{$vo.id}" placeholder="请输入字段排序" value="{$vo.sort}" style="width: 90%">
                  </div>
                </td>

                <td width="11%">
                  <div class="onoff" style="text-align: center;">
                    <label for="menu_require1_{$vo.id}" class="cb-enable {if condition="$vo['config']['require'] eq 1"}selected{/if}">是</label>
                    <label for="menu_require2_{$vo.id}" class="cb-disable {if condition="$vo['config']['require'] eq 2"}selected{/if}">否</label>

                    <input id="menu_require1_{$vo.id}" name="require_{$vo.id}" value="1" type="radio" {if condition="$vo['config']['require'] eq 1"}checked{/if}>
                    <input id="menu_require2_{$vo.id}" name="require_{$vo.id}" value="2" type="radio" {if condition="$vo['config']['require'] eq 2"}checked{/if}>
                  </div>
                </td>

                <td width="11%">
                  <div class="onoff" style="text-align: center;">
                    <label for="menu_status1_{$vo.id}" class="cb-enable {if condition="$vo.status eq 1"}selected{/if}">启用</label>
                    <label for="menu_status0_{$vo.id}" class="cb-disable {if condition="$vo.status eq 2"}selected{/if}">禁用</label>
                    <input id="menu_status1_{$vo.id}" name="status_{$vo.id}" value="1" type="radio" {if condition="$vo.status eq 1"}checked{/if}>
                    <input id="menu_status0_{$vo.id}" name="status_{$vo.id}" value="2" type="radio" {if condition="$vo.status eq 2"}checked{/if}>
                  </div>
                </td>

                <td width="8%">
                  <div style="text-align: center;">
                    <a class="btn blue" href="javascript:;" onClick="return submitListData('{$vo.id}');" >保存</a>
                    <a class="btn blue" href="javascript:;" onClick="delfun(this)" data-url="{:url('Devform/del',array('ids'=>$vo['id']))}">删除字段</a>
                  </div>
                </td>
              </tr>
            {/foreach}
          </tbody>
        </table>
        <a onClick="return addDevList();" href="javascript:;">
            <div class="fbutton"  style="border: none;margin-top: 5px;margin-left: 0px;">
                <div title="列表模板设置" class="add">
                    <span><i class="fa fa-plus"></i>新增</span>
                </div>
            </div>
        </a>

        <a onClick="return refreshPage();" href="javascript:;">
            <div class="fbutton" style="border: none;margin-top: 5px;margin-left: 0px;">
                <div title="列表模板设置" class="add">
                    <span><i class="fa fa-refresh" style="margin-left:5px;"></i></span>
                </div>
            </div>
        </a>
      </div>
    </div>
</div>

<script>
var _url      = "{:url('Devform/set_form')}";
var pid       = "{$formPid}";
function submitListData(id){
  
  if(CommonJs.Loading){

      layer.msg('有操作在进行，请稍等...',{icon: 0,time:2000});return false;
  }

  CommonJs.Loading    = true;

  var obj             = $("#devlist_id_"+id);
  var parame          = {};
      parame.id       = id;
      parame.pid      = pid;
      parame.hash     = obj.attr("data-hash");
      parame.title    = obj.find("input[name='title_"+id+"']").val();
      parame.tag      = obj.find("input[name='tag_"+id+"']").val();
      parame.group    = obj.find("input[name='group_"+id+"']").val();
      parame.type     = obj.find("select[name='type_"+id+"']").val();
      parame.edit     = (obj.find("input[name='edit_"+id+"']").is(':checked')) ? 2 : 0;
      parame.add      = (obj.find("input[name='add_"+id+"']").is(':checked')) ? 1 : 0;
      parame.sort     = obj.find("input[name='sort_"+id+"']").val();
      parame.status   = obj.find("input[name='status_"+id+"']:checked").val();
      parame.require   = obj.find("input[name='require_"+id+"']:checked").val();

      layer.msg('请求处理中，请稍等...',{icon: 16,time:1000000});

      $.ajax({
        type: 'post',
        url: _url,
        data: parame,
        dataType: 'json',
        success: function (data) {
          var ic  = data.code == 1 ? 6 : 2;

          layer.msg(data.msg,{icon: ic,time:2000},function(){

              if(data.code == 1){

                  if(data.url != '') {
                      window.location.href = data.url;
                  }else{
                      window.location.reload();
                  }
              }

              CommonJs.Loading    = false;
          });
        }
      });
}

function addDevList(){
  $("#flexigrid").find("tbody").prepend(getHtmlStr());

   $(".cb-enable").click(function(){
        var parent = $(this).parents('.onoff');
        $('.cb-disable',parent).removeClass('selected');
        $(this).addClass('selected');
        $('.checkbox',parent).attr('checked', true);
    });
    $(".cb-disable").click(function(){
        var parent = $(this).parents('.onoff');
        $('.cb-enable',parent).removeClass('selected');
        $(this).addClass('selected');
        $('.checkbox',parent).attr('checked', false);
    });

}

function delfun(obj) {
  if(CommonJs.Loading){
      layer.msg('有操作在进行，请稍等...',{icon: 0,time:2000});return false;
  }
  CommonJs.Loading    = true;
  // 删除按钮
  layer.confirm('确认删除？', { btn: ['确定', '取消']}, function () {

    layer.msg('数据删除中，请稍等...',{icon: 16,time:1000000});

    $.ajax({
      type: 'post',
      url: $(obj).attr('data-url'),
      data: {},
      dataType: 'json',
      success: function (data) {
        
        var ic  = data.code == 1 ? 6 : 2;

          layer.msg(data.msg,{icon: ic,time:2000},function(){

              if(data.code == 1){

                  if(data.url != '') {
                      window.location.href = data.url;
                  }else{
                      window.location.reload();
                  }
              }

              CommonJs.Loading    = false;
          });
      }
    })
  }, function () {
      CommonJs.Loading    = false;
      layer.closeAll();
  });
}

function refreshPage(){

  if(CommonJs.Loading){
      layer.msg('有操作在进行，请稍等...',{icon: 0,time:2000});return false;
  }
  CommonJs.Loading    = true;

  layer.msg('页面刷新中...',{icon: 16,time:1000000});

  window.location.reload();
}
function getHtmlStr(){
  var htmls = '';
      htmls += '<tr id="devlist_id_0">';

      htmls += '<td width="15%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<input type="text" size="30" class="qsbox" name="title_0" placeholder="请输入字段名称" value="" style="width: 90%">';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<input type="text" size="30" class="qsbox" name="tag_0" placeholder="请输入字段标识" value="" style="width: 90%">';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<input type="text" size="30" class="qsbox" name="group_0" placeholder="请输入分组标识" value="" style="width: 90%">';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<select name="type_0" id="type_id" class="form-control">';
      htmls += '<option value="hidden"  >隐藏域</option><option value="number"  >数字</option><option value="password"  >密码</option><option value="string"  >字符串</option><option value="price"  >价格</option><option value="textarea"  >文本域</option><option value="date"  >时间(Y-m-d)</option><option value="time"  >时间(H:i)</option><option value="datetime"  >时间(Y-m-d H:i:s)</option><option value="bool"  >布尔</option><option value="select"  >枚举</option><option value="radio"  >单选</option><option value="checkbox"  >多选</option><option value="image"  >单图上传</option><option value="images"  >多图上传</option><option value="file"  >文件上传</option><option value="editor"  >富文本编辑器</option><option value="address"  >城市选择</option><option value="txmap"  >腾讯地图</option><option value="bdmap"  >百度地图</option><option value="gdmap"  >高德地图</option><option value="expand"  >自定义拓展</option>';
      htmls += '</select>';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<label><input type="checkbox" class="checkbox_item" name="add_0" value="1"> 新增</label>';
      htmls += '<label><input type="checkbox" class="checkbox_item" name="edit_0" value="1"> 编辑</label>';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<input type="text" size="30" class="qsbox" name="sort_0" placeholder="请输入字段排序" value="" style="width: 90%">';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div class="onoff" style="text-align: center;">';
      htmls += '<input id="menu_require1_0" name="require_0" value="1" type="radio" >';
      htmls += '<input id="menu_require0_0" name="require_0" value="2" type="radio" checked="checked">';
      htmls += '<label for="menu_require1_0" class="cb-enable">是</label>';
      htmls += '<label for="menu_require0_0" class="cb-disable selected">否</label>';
      htmls += '</div></td>';

      htmls += '<td width="11%">';
      htmls += '<div class="onoff" style="text-align: center;">';
      htmls += '<input id="menu_status1_0" name="status_0" value="1" type="radio" checked="checked" >';
      htmls += '<input id="menu_status0_0" name="status_0" value="2" type="radio" >';
      htmls += '<label for="menu_status1_0" class="cb-enable  selected">启用</label>';
      htmls += '<label for="menu_status0_0" class="cb-disable">禁用</label>';
      htmls += '</div></td>';

      htmls += '<td width="8%">';
      htmls += '<div style="text-align: center;">';
      htmls += '<a class="btn blue" href="javascript:;" onClick="return submitListData(0);" ><i class="fa"></i>保存</a>';
      htmls += '</div></td>';
      htmls += '</tr>';

      return htmls;
}
</script>
{/block}