#progressbar {
    position: absolute;
    top: 30%;
    left: 10px;
    height: 30%;
    width: 98%;
    border: 1px solid #63B8FF;
    border-radius: 5px;
    text-align: center;
    line-height: 10px;
    font-size: 0.8em;
}

#progress {
    position: absolute;
    /*  border:1px solid;*/
    height: 100%;
    width: 0;
    background: #BFEFFF;
    border-radius: 5px;
    z-index: -1;
    background-size: 30px 30px;
    background-image: -webkit-linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
    background-image: -moz-linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
    background-image: linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
    -webkit-animation: animate 1.5s linear infinite;
    -moz-animation: animate 1.5s linear infinite;
    animation: animate 1.5s linear infinite;
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

@-moz-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}